
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: black;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: separate;
    background-color: #dfdfdf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    font-weight: 550;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: gray;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button{
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
    color: red;
}

a:hover {
    text-decoration: underline;
}