body {
    font-family: Arial, sans-serif;
    background-color: white;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.about-container {
    width: 80%;
    max-width: 1200px;
    text-align: center;
	margin-left:150px;
}

h1 {
    margin-bottom: 20px;
    font-size: 40px;
    color: black;}

.logo-section {
    margin: 15px;
    text-align: center;
}

.logo {
    max-width: 200px;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    background-color: gray;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
}

h3 {
    font-size: 20px;
    color: yellow;
    margin-bottom: 10px;
}

p {
    color: black;
    font-size: 15px;
    text-align: justify;
}


/* Responsive layout for smaller screens */

@media (max-width: 768px) {
    .content-grid {
        grid-template-columns: 1fr;
    }
    .logo {
        max-width: 100px;
    }
}