body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vr;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

h1 {
    margin-bottom: 40px;
    font-size: 40px;
    color: black;
}

	
.logo-section {
    margin: 15px;
    text-align: center;
}

.logo {
    max-width: 200px;
}


/* Form styling */

.form-con {
    flex: 1;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 8px;
  
}


.container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: left;
    color: black;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 5px;
    color: #555;
    text-align: left;
}

.container input,
.container textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.container button {
    padding: 10px;
    background-color:blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.container button:hover {
    background-color: blue;
}


/* Right side boxes */

.div-con {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 600px;
}

.A1,
.A2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.box {
    background-color: white;
    border: 2px solid #529a1e;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.box i {
    font-size: 30px;
    color: green;
    margin-bottom: 10px;
}

.box h3 {
    margin-top: 10px;
    font-size: 25px;
    color: black;
}

.box p {
    color: gray;
}

.box button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.box button:hover {
    background-color: #2D31fa;
}

.color {
	
	background-color: gray;
}


