body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 120px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
   
  }

  .btn-primary{
    background-color: rgb(77, 131, 185);
    margin: 5px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .add-user-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .update-btn {
    background-color: #008CBA;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 