* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h3 {
    color: #ffffff;
}

h4{
    padding: 10px;
}
.container {
    max-width: 90%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.image-container {
    text-align: center;
    margin-bottom: 30px;
}

.main-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.services-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    background-color: gray;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(25% - 20px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.service-card img {
    max-width: 80px;
    margin-bottom: 15px;
}

.service-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.see-more {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.see-more:hover {
    background-color: #555;
}
