* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #ffffff;
}

.form-container {
    background-color: gray;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin: 0 auto; 
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

label {
    text-align: left;
}

a {
    color: #007bff;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    outline: none;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 20px;
}

.footer a {
    color: #6c757d;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
