body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    width: 100%;
    background-image: url("../backk1.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}
.header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px 30px;
background-color: #333;
color: #fff;
position: sticky;
top: 0;
z-index: 100;
height: 100px;
}
.lg img{
width: 100px;
border-radius: 100px;
}


.User img{
margin: 40px;
bottom: 20px;
width: 75px;
}


nav {
display: flex;
justify-content: center;
}

.menu {
list-style: none;
display: flex;
gap: 20px;
}

.menu li {
position: relative;
}

.menu li a {
text-decoration: none;
font-size: 20px;
color: #ffffff;
padding: 10px 20px;
display: block;
border-radius: 4px;
}

.menu li a:hover {
background-color: #a39d9d;
}

.dropdown {
position: absolute;
top: 100%;
left: 0;
list-style: none;
background-color: #989898;
border: 1px solid #8a8a8a;
display: none; 
}

.dropdown li {
margin: 0;
}

.dropdown li a {
padding: 10px;
display: block;
white-space: nowrap;
}

.menu li:hover .dropdown {
display: block; 
}

.search-box {
position:relative;
}

.search-box input[type="text"] {
padding: 8px 15px;
width: 500px;
border: none;
border-radius: 20px;
}

footer {
background-color: #817b7b;
padding: 20px 30px;
margin-top: 40px; 
}

.footer-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
}


.contact-info {
flex: 1 1 200px;
margin-bottom: 20px;
}

.contact-info h3 {
font-size: 18px;
margin-bottom: 10px;
color: #fffdfd;
}

.contact-info p a {
display: block;
color: #333;
text-decoration: none;
margin-bottom: 5px;
transition: color 0.3s;
}

.contact-info p a:hover {
color: #04AA6D; 
}


.social-media {
flex: 1 1 200px;
margin-bottom: 20px;
}
.fb img{
width: 48px;
border-radius: 20%;
}
.insta img{
width: 46px;
border-radius: 20%;
}
.twi img{
width: 46px;
border-radius: 20%;
}
.lin img{
width: 46px;
border-radius: 20%;
}

.social-media ul {
list-style: none;
padding: 0;
margin: 0;
text-align: center;
}

.social-media ul li {
display: inline-block;
margin-right: 10px;
}

.social-media ul li a {
font-size: 20px;
color: #333;
transition: color 0.3s;
}

.social-media ul li a:hover {
color: #04AA6D;
}


.navigation {
flex: 1 1 200px;
margin-bottom: 20px;
}
.navigation .Link{
text-align: center;
}
.navigation ul {
list-style: none;
padding: 0;
margin: 0;
text-align: center;
}

.navigation ul li {
display: inline-block;
margin-right: 10px;
}

.navigation ul li a {
text-decoration: none;
color: #333;
transition: color 0.3s;
}

.navigation ul li a:hover {
color: #04AA6D;
}


.copyright {
flex: 1 1 100%;
text-align: center;
margin-top: 20px;
}

.copyright p {
margin-bottom: 10px;
}

footer ul {
list-style: none;
padding: 0;
margin: 0;
}

footer ul li {
display: inline-block;
margin-right: 10px;
}

footer ul li a {
text-decoration: none;
color: #333;
transition: color 0.3s;
}

footer ul li a:hover {
color: #04AA6D;
}

.form {
display: flex;
justify-content: center; 
margin: 50px auto; 
max-width: 1200px; 
}


.form-left {
width: 30%;
background-color: rgba(255, 255, 255, 0.9); 
border-radius: 10px; 
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 30px; 
}


.form-left input {
margin-bottom: 20px;
padding: 10px; 
border: 1px solid #ccc;
border-radius: 5px; 
width: 100%; 
}


.form-list {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.form-list ul {
list-style: none;
padding: 0;
margin: 20px 0; 
}

.form-list li {
margin: 15px 0; 
}

.form-list a {
text-decoration: none;
color: #333; 
padding: 10px 15px; 
border-radius: 5px; 
transition: background-color 0.3s; 
}

.form-list a:hover {
background-color: #e0e0e0; 
}


.form-right {
width: 70%; 
padding: 30px; 
background-color: rgba(255, 255, 255, 0.9);
border-radius: 10px; 
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;
align-items: center;
margin-left: 20px; 
}


.form-right-sec img {
width: 100px; 
height: auto;
margin-bottom: 20px; 
}


.form-right-sec {
display: flex;
flex-direction: column;

}

.form-group {
display: flex; 
align-items: center; 
margin-bottom: 15px;
}

.form-group label {
width: 150px; 
margin-right: 10px; 
font-weight: bold; 
}

.form-group button{
margin-left: 50px;
padding: 5px;
width: 50px;
background-color: rgb(210, 210, 210);
color: black;
}

.form-right-sec input {
padding: 10px; 
border: 1px solid #ccc; 
border-radius: 5px; 

}


.Edit, .logout button {
padding: 10px 15px; 
border: none;
border-radius: 5px; 
background-color: #04AA6D; 
color: white; 
cursor: pointer;
margin-left: 120px;

}



.login-ac {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: gray;
margin: 20px 0; 
}


.bg {
height: 100%;
}